wg.json
[{"id":"8634e68f.33d288","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"31b2379a.04d2d8","type":"telegram bot","z":"","botname":"PrinterBeesemaise_Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"3000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"1a9f0a34.51dbd6","type":"telegrambot-config","z":"","botname":"PrinterBeesemaise_Bot","usernames":"","chatIds":"-459335104","pollInterval":"300"},{"id":"f12bd5f0.c19628","type":"inject","z":"8634e68f.33d288","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":980,"wires":[["905a7b5d.7a2cb8"]]},{"id":"905a7b5d.7a2cb8","type":"telegrambot-notify","z":"8634e68f.33d288","name":"","bot":"1a9f0a34.51dbd6","chatId":"-459335104","message":"","parseMode":"","x":640,"y":980,"wires":[]},{"id":"93fb6dbf.c1c5c","type":"telegrambot-command","z":"8634e68f.33d288","name":"","bot":"1a9f0a34.51dbd6","command":"/help","commandType":"str","commandCase":false,"x":300,"y":1060,"wires":[["ca15b05f.0f0bd"]]},{"id":"ca15b05f.0f0bd","type":"debug","z":"8634e68f.33d288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":550,"y":1060,"wires":[]}]