wg.json
[{"id":"8634e68f.33d288","type":"tab","label":"Telegram","disabled":false,"info":""},{"id":"e42fce10.df527","type":"subflow","name":"Telegram Tastatur","info":"","category":"","in":[{"x":400,"y":220,"wires":[{"id":"b6a36b1c.929778"}]}],"out":[{"x":780,"y":220,"wires":[{"id":"b6a36b1c.929778","port":0}]}],"env":[{"name":"Nachricht","type":"str","value":"","ui":{"icon":"font-awesome/fa-bullhorn","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"Optionen","type":"str","value":""}],"color":"#3FADB5","icon":"font-awesome/fa-bars"},{"id":"25552ba1.aec3a4","type":"subflow","name":"Telegram Tastatur Response Block","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"d3e84e8e.13873"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"d3e84e8e.13873","port":0}]}],"env":[],"color":"#3FADB5","icon":"font-awesome/fa-close"},{"id":"e892f35.0c4c61","type":"subflow","name":"inline keyboard message","info":"","category":"","in":[{"x":220,"y":240,"wires":[{"id":"37775d63.34a1e2"}]}],"out":[{"x":640,"y":240,"wires":[{"id":"37775d63.34a1e2","port":0}]}],"env":[{"name":"Optionen","type":"str","value":""},{"name":"Nachricht","type":"str","value":""}],"color":"#DDAA99"},{"id":"31b2379a.04d2d8","type":"telegram bot","z":"","botname":"PrinterBeesemaise_Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"3000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"7b3167d4.872318","type":"telegram command","z":"8634e68f.33d288","d":true,"name":"","command":"/LOL","bot":"31b2379a.04d2d8","strict":false,"x":230,"y":380,"wires":[["10937072.6e544"],["c5b21f0d.e0328"]]},{"id":"b13b47b4.bf4828","type":"telegram sender","z":"8634e68f.33d288","d":true,"name":"","bot":"31b2379a.04d2d8","x":990,"y":360,"wires":[[]]},{"id":"f7ce90f6.dfefa","type":"telegram sender","z":"8634e68f.33d288","d":true,"name":"","bot":"31b2379a.04d2d8","x":990,"y":420,"wires":[[]]},{"id":"d3e84e8e.13873","type":"function","z":"25552ba1.aec3a4","name":"create response","func":"if(context.global.keyboard.pending)\n{\n    context.global.keyboard.pending = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"10937072.6e544","type":"subflow:e42fce10.df527","z":"8634e68f.33d288","name":"","env":[{"name":"Nachricht","value":"Hallo Welt","type":"str"},{"name":"Optionen","value":"Yes,No,Noo","type":"str"}],"x":490,"y":360,"wires":[["b13b47b4.bf4828"]]},{"id":"b6a36b1c.929778","type":"function","z":"e42fce10.df527","name":"confirmation message","func":"context.global.keyboard = { pending : true};\n\nlet optionen = env.get(\"Optionen\").split(\",\");\nlet length = optionen.length;\nlet tasten = \"\";\n\nlet i;\nfor (i = 0; i < optionen.length; i++) {\n  tasten = tasten + '[\"' + optionen[i] + '\"],';\n}\ntasten = tasten.slice(0, -1);\n\nlet key = '{\"keyboard\": ['+tasten+'],\"resize_keyboard\" : true,\"one_time_keyboard\" : true}';\n\nvar opts = {\n    reply_to_message_id: msg.payload.messageId,\n    reply_markup: key\n};\n\nmsg.payload.content = env.get(\"Nachricht\");\nmsg.payload.options = opts;\n\nreturn [msg];","outputs":1,"noerr":0,"x":600,"y":220,"wires":[[]]},{"id":"105f292f.489fb7","type":"switch","z":"8634e68f.33d288","name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"},{"t":"eq","v":"Noo","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":420,"wires":[["f7ce90f6.dfefa"],["f7ce90f6.dfefa"],["f7ce90f6.dfefa"]]},{"id":"c5b21f0d.e0328","type":"subflow:25552ba1.aec3a4","z":"8634e68f.33d288","name":"","env":[],"x":540,"y":420,"wires":[["105f292f.489fb7"]]},{"id":"3bf10ab6.d7d2b6","type":"telegram command","z":"8634e68f.33d288","name":"","command":"/help","bot":"31b2379a.04d2d8","strict":false,"x":230,"y":700,"wires":[["f1e9ea10.69f1e8"],[]]},{"id":"8823acf4.a621b","type":"telegram sender","z":"8634e68f.33d288","name":"","bot":"31b2379a.04d2d8","x":690,"y":700,"wires":[[]]},{"id":"37775d63.34a1e2","type":"function","z":"e892f35.0c4c61","name":"inline keyboard message","func":"// node.error(\"Oh no, something bad happened\");\n\ncontext.global.keyboard = { pending : true};\n\nlet optionen = env.get(\"Optionen\").split(\",\");\nlet length = optionen.length;\nlet tasten = \"\";\n\nlet i;\nfor (i = 0; i < optionen.length; i++) {\n  tasten = tasten + '{\"text\":\"' + optionen[i] + '\",\"callback_data\":\"' + optionen[i] + '\"},';\n}\ntasten = tasten.slice(0, -1);\n\nlet key = '{\"inline_keyboard\": [['+tasten+']]}';\n\nvar opts = {\n    reply_to_message_id: msg.payload.messageId,\n    reply_markup: key\n};\n\nmsg.payload.content = env.get(\"Nachricht\");\nmsg.payload.options = opts;\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":240,"wires":[[]]},{"id":"f1e9ea10.69f1e8","type":"subflow:e892f35.0c4c61","z":"8634e68f.33d288","name":"","env":[{"name":"Optionen","value":"test01,test02,test03","type":"str"},{"name":"Nachricht","value":"**Are you sure?** /n Hallo Welt was geht","type":"str"}],"x":430,"y":700,"wires":[["8823acf4.a621b"]]}]