wg.json
[{"id":"8634e68f.33d288","type":"tab","label":"TelegramDrucker","disabled":false,"info":""},{"id":"57564e10.76e3a","type":"tab","label":"TelegramTastaturBeispiel","disabled":false,"info":""},{"id":"e42fce10.df527","type":"subflow","name":"Telegram Tastatur","info":"","category":"","in":[{"x":400,"y":220,"wires":[{"id":"b6a36b1c.929778"}]}],"out":[{"x":780,"y":220,"wires":[{"id":"b6a36b1c.929778","port":0}]}],"env":[{"name":"Nachricht","type":"str","value":"","ui":{"icon":"font-awesome/fa-bullhorn","label":{},"type":"input","opts":{"types":["str","num","bool","json","bin","env"]}}},{"name":"Optionen","type":"str","value":""}],"color":"#3FADB5","icon":"font-awesome/fa-bars"},{"id":"25552ba1.aec3a4","type":"subflow","name":"Telegram Tastatur Response Block","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"d3e84e8e.13873"}]}],"out":[{"x":360,"y":80,"wires":[{"id":"d3e84e8e.13873","port":0}]}],"env":[],"color":"#3FADB5","icon":"font-awesome/fa-close"},{"id":"e892f35.0c4c61","type":"subflow","name":"inline keyboard message","info":"# Inline Keyboard Nachrichten\n\n## Input\n\n### Optionen\n\n``Taste01,Taste02,Taste03``\n\n**Achtung**\n\n> Komma Trennung muss stimmen.\n\n> Komma ist Array Trennungsmarker\n\n### Nachricht\n``Ich bin die Frage/Erklärung wofür die Buttons stehen``\n\n**Achtung**\n\n> Kurz Kompakt halten\n\n### OptionStatic\n\nmsg.OptionDynamic\n","category":"","in":[{"x":220,"y":240,"wires":[{"id":"7600fac2.559b24"}]}],"out":[{"x":1020,"y":240,"wires":[{"id":"69d0326a.ff4b3c","port":0}]}],"env":[{"name":"Optionen","type":"str","value":""},{"name":"Nachricht","type":"str","value":""},{"name":"OptionDynamic","type":"bool","value":"true"},{"name":"SingleOrArraySpam","type":"bool","value":"true"},{"name":"NachrichtDynamic","type":"bool","value":"false"}],"color":"#DDAA99"},{"id":"2473102b.7ad87","type":"subflow","name":"Nachricht","info":"","category":"","in":[{"x":280,"y":220,"wires":[{"id":"1fcc79c9.cf4316"}]}],"out":[{"x":840,"y":220,"wires":[{"id":"1fcc79c9.cf4316","port":0}]}],"env":[{"name":"type","type":"str","value":"","ui":{"icon":"font-awesome/fa-bullhorn","label":{"en-US":"Nachrichten Optionen"},"type":"select","opts":{"opts":[{"l":{"en-US":"message"},"v":"message"},{"l":{"en-US":"audio"},"v":"audio"},{"l":{"en-US":"video"},"v":"video"},{"l":{"en-US":"video_note"},"v":"video_note"},{"l":{"en-US":"sticker"},"v":"sticker"},{"l":{"en-US":"animation"},"v":"animation"},{"l":{"en-US":"voice"},"v":"voice"},{"l":{"en-US":"document"},"v":"document"},{"l":{"en-US":"location"},"v":"location"},{"l":{"en-US":"contact"},"v":"contact"},{"l":{"en-US":"venue"},"v":"venue"},{"l":{"en-US":"mediaGroup"},"v":"mediaGroup"},{"l":{"en-US":"photo"},"v":"photo"}]}}},{"name":"chatId","type":"num","value":""},{"name":"content","type":"str","value":""},{"name":"InputContentToggle","type":"bool","value":"true"},{"name":"specificchatId","type":"bool","value":"false"}],"color":"#DDAA99"},{"id":"fcbed297.e969b","type":"subflow","name":"WG-User-Blocker","info":"","category":"","in":[{"x":60,"y":80,"wires":[{"id":"8a0a416e.477ef"}]}],"out":[{"x":340,"y":80,"wires":[{"id":"8a0a416e.477ef","port":0},{"id":"8a0a416e.477ef","port":1},{"id":"8a0a416e.477ef","port":2},{"id":"8a0a416e.477ef","port":3}]}],"env":[],"color":"#DDAA99"},{"id":"31b2379a.04d2d8","type":"telegram bot","z":"","botname":"PrinterBeesemaise_Bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"3000","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"d3e84e8e.13873","type":"function","z":"25552ba1.aec3a4","name":"create response","func":"if(context.global.keyboard.pending)\n{\n    context.global.keyboard.pending = false;\n    return msg;\n}","outputs":1,"noerr":0,"x":200,"y":80,"wires":[[]]},{"id":"b6a36b1c.929778","type":"function","z":"e42fce10.df527","name":"confirmation message","func":"context.global.keyboard = { pending : true};\n\nlet optionen = env.get(\"Optionen\").split(\",\");\nlet length = optionen.length;\nlet tasten = \"\";\n\nlet i;\nfor (i = 0; i < optionen.length; i++) {\n  tasten = tasten + '[\"' + optionen[i] + '\"],';\n}\ntasten = tasten.slice(0, -1);\n\nlet key = '{\"keyboard\": ['+tasten+'],\"resize_keyboard\" : true,\"one_time_keyboard\" : true}';\n\nvar opts = {\n    reply_to_message_id: msg.payload.messageId,\n    reply_markup: key\n};\n\nmsg.payload.content = env.get(\"Nachricht\");\nmsg.payload.options = opts;\n\nreturn [msg];","outputs":1,"noerr":0,"x":600,"y":220,"wires":[[]]},{"id":"3bf10ab6.d7d2b6","type":"telegram command","z":"8634e68f.33d288","name":"","command":"/jpg","bot":"31b2379a.04d2d8","strict":false,"x":130,"y":240,"wires":[["ffd59670.4d0428"],[]]},{"id":"8823acf4.a621b","type":"telegram sender","z":"8634e68f.33d288","name":"","bot":"31b2379a.04d2d8","x":1450,"y":280,"wires":[[]]},{"id":"f1e9ea10.69f1e8","type":"subflow:e892f35.0c4c61","z":"8634e68f.33d288","name":"","env":[{"name":"Optionen","value":"test01,test02,test03","type":"str"},{"name":"Nachricht","value":"Welche Datei willst du haben.","type":"str"},{"name":"OptionToggle","value":"false","type":"bool"}],"x":1150,"y":280,"wires":[["8823acf4.a621b","c469992e.96f8a8"]]},{"id":"1fcc79c9.cf4316","type":"function","z":"2473102b.7ad87","name":"Nachricht","func":"let message = new Object();\n\nif(env.get(\"specificchatId\")){\n    message.chatId = env.get(\"chatId\");\n}else{\n    message.chatId = msg.payload.chatId;\n}\n\nmessage.type = env.get(\"type\");\nmessage.content = env.get(\"content\");\n\n// Togglet Input ob man Content in Flow oder Über den Node mit gibt.\nif(env.get(\"InputContentToggle\")){\n    message.content = env.get(\"content\");\n}else{\n    message.content = msg.customcontent;\n}\n\n// Output Final\nmsg.payload = message\n\n// msg.payload = '{ \"chatId\" : \"' + env.get(\"chatId\") + '\", \"type\" : \"' + env.get(\"type\") + '\", \"content\" : \"' + env.get(\"content\") + '\"}';\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":220,"wires":[[]]},{"id":"5f9837f1.92b958","type":"fs-ops-dir","z":"8634e68f.33d288","name":"","path":"path","pathType":"msg","filter":".jpg","filterType":"str","dir":"files","dirType":"msg","x":620,"y":240,"wires":[["7b714822.8226e8"]]},{"id":"9c74ed5a.a50a1","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"/home/pi/ftp/telealex","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":240,"wires":[["5f9837f1.92b958"]]},{"id":"69d0326a.ff4b3c","type":"function","z":"e892f35.0c4c61","name":"inline keyboard message","func":"// node.error(\"Oh no, something bad happened\");\n\ncontext.global.keyboard = { pending : true};\n\n\nlet optionen = msg.optionen;\nlet count;\nlet tasten = \"\";\n    \nif(Array.isArray(optionen)){\n    count = optionen.length;\n    \n    let i;\n    for (i = 0; i < count ; i++) {\n        tasten = tasten + '{\"text\":\"' + optionen[i] + '\",\"callback_data\":\"' + optionen[i] + '\"},';\n    }\n    \n}else{\n    tasten = tasten + '{\"text\":\"' + optionen + '\",\"callback_data\":\"' + optionen + '\"},';\n}\n\n\n// Alles hier unten funktioniert Perfekt\n\ntasten = tasten.slice(0, -1);\n\n\nlet key = '{\"inline_keyboard\": [['+tasten+']]}';\n\nvar opts = {\n    chat_id : msg.payload.chatId,\n    reply_markup: key\n};\n\n\n\n\nmsg.payload.options = opts;\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":240,"wires":[[]]},{"id":"7600fac2.559b24","type":"function","z":"e892f35.0c4c61","name":"separate message","func":"let count;\nlet optionen\n\n// Option wird heir gesetzt\n\nif(env.get(\"OptionDynamic\")){\n    optionen = msg.OptionDynamic;\n}else{\n    optionen = env.get(\"Optionen\").split(\",\");\n}\n\n\n\n// Array vs Ones Nachrichten Spam für mehr Option\nif(env.get(\"SingleOrArraySpam\")){\n    if(Array.isArray(optionen)){\n            count = optionen.length;}else{\n                count = 1;\n            }\n    \n        let i;\n        for (i = 0; i < count; i++) {\n            \n            if(i <= 0){\n                msg.payload.content = NachrichtDyn()+\"\\n\\rDatei COUNT: \"+count+\"\\n\\r\\n\\rDatei NR: 1\";\n            }else{\n                let n = i + 1;\n                msg.payload.content = \"Datei NR: \"+n;\n            }\n            \n            \n            msg.optionen = optionen[i];\n            //sleep(2000).then(() => {node.send(msg)});\n            node.send(msg);\n        }\n}else{\n    \n    msg.payload.content = NachrichtDyn();\n    \n    msg.optionen = optionen;\n    node.send(msg)\n}\n\n\nfunction NachrichtDyn() {\n    \n    if(env.get(\"NachrichtDynamic\")){\n        return msg.Nachricht;\n    }else{\n        return env.get(\"Nachricht\");\n    }\n}\n\nfunction sleep(ms) {\n  return new Promise(resolve => setTimeout(resolve, ms));\n}\n\n\nreturn ","outputs":1,"noerr":0,"x":490,"y":240,"wires":[["69d0326a.ff4b3c"]]},{"id":"7b714822.8226e8","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"OptionDynamic","pt":"msg","to":"files","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":280,"wires":[["f1e9ea10.69f1e8"]]},{"id":"609e4af4.b07fb4","type":"telegram event","z":"8634e68f.33d288","name":"","bot":"31b2379a.04d2d8","event":"callback_query","autoanswer":false,"x":160,"y":700,"wires":[["3696a7e8.e14198"]]},{"id":"e3057cb.6678f8","type":"telegram sender","z":"8634e68f.33d288","name":"","bot":"31b2379a.04d2d8","x":1430,"y":660,"wires":[[]]},{"id":"7da28243.4c649c","type":"subflow:2473102b.7ad87","z":"8634e68f.33d288","name":"","env":[{"name":"type","value":"photo","type":"str"},{"name":"chatId","value":"-459335104","type":"num"},{"name":"InputContentToggle","value":"false","type":"bool"},{"name":"chateId","value":"-459335104","type":"num"}],"x":1260,"y":660,"wires":[["e3057cb.6678f8"]]},{"id":"33b67c81.156b34","type":"function","z":"8634e68f.33d288","name":"SetDatei","func":"\n\nmsg.customcontent = msg.path +'/'+ msg.payload.content;\nmsg.dateityp = msg.payload.content.slice(-3);\n\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":700,"wires":[["f590a0fb.c644e"]]},{"id":"887cd987.90af58","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"/home/pi/ftp/telealex","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":700,"wires":[["33b67c81.156b34"]]},{"id":"c17189f5.7dcb18","type":"telegram command","z":"8634e68f.33d288","name":"","command":"/help","bot":"31b2379a.04d2d8","strict":false,"x":130,"y":160,"wires":[["fac6a77c.b49d38"],[]]},{"id":"2cee8029.6d889","type":"telegram command","z":"57564e10.76e3a","d":true,"name":"","command":"/LOL","bot":"31b2379a.04d2d8","strict":false,"x":230,"y":160,"wires":[["b11cc8d3.7b8eb8"],["de718011.72263"]]},{"id":"380bf888.2e0ae8","type":"telegram sender","z":"57564e10.76e3a","d":true,"name":"","bot":"31b2379a.04d2d8","x":990,"y":140,"wires":[[]]},{"id":"e08109e8.e87568","type":"telegram sender","z":"57564e10.76e3a","d":true,"name":"","bot":"31b2379a.04d2d8","x":990,"y":200,"wires":[[]]},{"id":"b11cc8d3.7b8eb8","type":"subflow:e42fce10.df527","z":"57564e10.76e3a","d":true,"name":"","env":[{"name":"Nachricht","value":"Hallo Welt","type":"str"},{"name":"Optionen","value":"Yes,No,Noo","type":"str"}],"x":490,"y":140,"wires":[["380bf888.2e0ae8"]]},{"id":"67c5686d.493df8","type":"switch","z":"57564e10.76e3a","d":true,"name":"","property":"payload.content","propertyType":"msg","rules":[{"t":"eq","v":"Yes","vt":"str"},{"t":"eq","v":"No","vt":"str"},{"t":"eq","v":"Noo","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":770,"y":200,"wires":[["e08109e8.e87568"],["e08109e8.e87568"],["e08109e8.e87568"]]},{"id":"de718011.72263","type":"subflow:25552ba1.aec3a4","z":"57564e10.76e3a","d":true,"name":"","env":[],"x":540,"y":200,"wires":[["67c5686d.493df8"]]},{"id":"c35a6af6.1a6258","type":"comment","z":"57564e10.76e3a","name":"Beispiel","info":"","x":110,"y":80,"wires":[]},{"id":"d635e0bb.99de6","type":"fs-ops-dir","z":"57564e10.76e3a","d":true,"name":"","path":"path","pathType":"msg","filter":"*","filterType":"str","dir":"files","dirType":"msg","x":460,"y":540,"wires":[["6bbdb70.7cd7048"]]},{"id":"58a55bd2.118324","type":"inject","z":"57564e10.76e3a","d":true,"name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140,"y":540,"wires":[["99f4c47.fc98238"]]},{"id":"92f94439.4076c8","type":"telegram sender","z":"57564e10.76e3a","d":true,"name":"","bot":"31b2379a.04d2d8","x":1010,"y":540,"wires":[[]]},{"id":"b8e506e5.ba12f8","type":"subflow:2473102b.7ad87","z":"57564e10.76e3a","d":true,"name":"","env":[{"name":"type","value":"photo","type":"str"},{"name":"chatId","value":"-459335104","type":"num"},{"name":"InputContentToggle","value":"false","type":"bool"},{"name":"chateId","value":"-459335104","type":"num"}],"x":820,"y":540,"wires":[["92f94439.4076c8"]]},{"id":"99f4c47.fc98238","type":"change","z":"57564e10.76e3a","d":true,"name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"C:\\Users\\AEAEAE\\Pictures\\DesktopBackground","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":310,"y":540,"wires":[["d635e0bb.99de6"]]},{"id":"6bbdb70.7cd7048","type":"function","z":"57564e10.76e3a","d":true,"name":"","func":"\n\nmsg.customcontent = msg.path +'\\\\'+ msg.files[2];\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":540,"wires":[["b8e506e5.ba12f8"]]},{"id":"8a0a416e.477ef","type":"switch","z":"fcbed297.e969b","name":"Erlaubnis","property":"payload.chatId","propertyType":"msg","rules":[{"t":"eq","v":"-459335104","vt":"num"},{"t":"eq","v":"259572712","vt":"str"},{"t":"eq","v":"213321950","vt":"str"},{"t":"eq","v":"22067828","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":200,"y":80,"wires":[[],[],[],[]]},{"id":"3696a7e8.e14198","type":"subflow:fcbed297.e969b","z":"8634e68f.33d288","name":"","env":[],"x":350,"y":700,"wires":[["ea796131.012be"]]},{"id":"ffd59670.4d0428","type":"subflow:fcbed297.e969b","z":"8634e68f.33d288","name":"","env":[],"x":300,"y":240,"wires":[["9c74ed5a.a50a1"]]},{"id":"bb916677.77c108","type":"telegram command","z":"8634e68f.33d288","name":"","command":"/pdf","bot":"31b2379a.04d2d8","strict":false,"x":130,"y":320,"wires":[["f7c54fab.61748"],[]]},{"id":"f7c54fab.61748","type":"subflow:fcbed297.e969b","z":"8634e68f.33d288","name":"","env":[],"x":300,"y":320,"wires":[["bf87ca02.9ba558"]]},{"id":"496f4c7f.e09f14","type":"fs-ops-dir","z":"8634e68f.33d288","name":"","path":"path","pathType":"msg","filter":".pdf","filterType":"str","dir":"files","dirType":"msg","x":620,"y":320,"wires":[["7b714822.8226e8"]]},{"id":"bf87ca02.9ba558","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"/home/pi/ftp/telealex","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":320,"wires":[["496f4c7f.e09f14"]]},{"id":"f590a0fb.c644e","type":"switch","z":"8634e68f.33d288","name":"dateityp","property":"dateityp","propertyType":"msg","rules":[{"t":"eq","v":"jpg","vt":"str"},{"t":"eq","v":"pdf","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1100,"y":700,"wires":[["7da28243.4c649c"],["be3cd101.df535"]]},{"id":"6b906388.556e7c","type":"telegram sender","z":"8634e68f.33d288","name":"","bot":"31b2379a.04d2d8","x":1430,"y":720,"wires":[[]]},{"id":"be3cd101.df535","type":"subflow:2473102b.7ad87","z":"8634e68f.33d288","name":"","env":[{"name":"type","value":"document","type":"str"},{"name":"chatId","value":"-459335104","type":"num"},{"name":"InputContentToggle","value":"false","type":"bool"},{"name":"chateId","value":"-459335104","type":"num"}],"x":1260,"y":720,"wires":[["6b906388.556e7c"]]},{"id":"fac6a77c.b49d38","type":"function","z":"8634e68f.33d288","name":"HilfsText","func":"var helpMessage =\"/help -show help \\r\\n\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/jpg -show all jpg \\r\\n\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/pdf -show all pdf \\r\\n\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/delete -delete all pdf \\r\\n\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/print -Datei an den Bot senden und diesen Befehl ausführen. \";\nhelpMessage += \"Sicherheitsschwachstelle/Feature: Niemand kann die Datei sehen aber jeder kann an den Bot senden/Auch Gäste können so eine Datei senden ohne das man sie local erst Speichern muss.\\r\\n\";\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/tag -alle Standart benannten Datei bekommen einen neuen Name aus tag und Erstellungsdatum\\r\\n\";\nhelpMessage += \"\\r\\n\";\n\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Hallo \" + msg.originalMessage.from.username + \" solltest du keine Antwort erhalten auf die Befehle gibt den WG-Admin bitte dein ChateId \\r\\n\";\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"Deine Chat ID: \" + msg.payload.chatId;\nhelpMessage += \"\\r\\n\";\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/alex -automatisch Archiviert für Alex\\r\\n\";\nhelpMessage += \"\\r\\n\";\n\nhelpMessage += \"\\r\\n\";\nhelpMessage += \"/alexa -automatisch Archiviert für Alexa\\r\\n\";\nhelpMessage += \"\\r\\n\";\n\nmsg.payload.content = helpMessage;\n\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":160,"wires":[["8f83f207.14d41"]]},{"id":"8f83f207.14d41","type":"telegram sender","z":"8634e68f.33d288","name":"","bot":"31b2379a.04d2d8","x":570,"y":160,"wires":[[]]},{"id":"9aeb229d.38a2b","type":"telegram command","z":"8634e68f.33d288","name":"","command":"/delete","bot":"31b2379a.04d2d8","strict":false,"x":130,"y":80,"wires":[["b3bd3044.80d68"],[]]},{"id":"cd2ae429.0edbd8","type":"fs-ops-delete","z":"8634e68f.33d288","name":"PDF","path":"path","pathType":"msg","filename":"files","filenameType":"msg","x":610,"y":40,"wires":[[]]},{"id":"e60a4954.419fb8","type":"fs-ops-dir","z":"8634e68f.33d288","name":"","path":"path","pathType":"msg","filter":".pdf","filterType":"str","dir":"files","dirType":"msg","x":460,"y":40,"wires":[["cd2ae429.0edbd8"]]},{"id":"b3bd3044.80d68","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"/home/pi/ftp/telealex","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":290,"y":80,"wires":[["e60a4954.419fb8","7e42e363.17da7c"]]},{"id":"18294338.3bb44d","type":"fs-ops-delete","z":"8634e68f.33d288","name":"JPG","path":"path","pathType":"msg","filename":"files","filenameType":"msg","x":610,"y":100,"wires":[[]]},{"id":"7e42e363.17da7c","type":"fs-ops-dir","z":"8634e68f.33d288","name":"","path":"path","pathType":"msg","filter":".jpg","filterType":"str","dir":"files","dirType":"msg","x":460,"y":100,"wires":[["18294338.3bb44d"]]},{"id":"7a4d4c43.341c04","type":"exec","z":"8634e68f.33d288","command":"lp -d BrotherYes ","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"","x":1100,"y":920,"wires":[[],[],[]]},{"id":"42d1ee1e.89d68","type":"telegram receiver","z":"8634e68f.33d288","name":"","bot":"31b2379a.04d2d8","saveDataDir":"/home/pi/ftp/print","x":170,"y":420,"wires":[["aead1cb5.41dc9","e6e2acb2.ee47c"],[]]},{"id":"ea796131.012be","type":"switch","z":"8634e68f.33d288","name":"Printer","property":"payload.content","propertyType":"msg","rules":[{"t":"else"},{"t":"eq","v":"Drucken","vt":"str"},{"t":"eq","v":"Abbrechen","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":550,"y":700,"wires":[["887cd987.90af58"],["b75c7d80.1be56"],["4a6b512a.d4dcc"]]},{"id":"3d124e45.034e12","type":"delay","z":"8634e68f.33d288","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1060,"y":860,"wires":[["4a6b512a.d4dcc"]]},{"id":"2289e076.51adc","type":"fs-ops-delete","z":"8634e68f.33d288","name":"PDF","path":"path","pathType":"msg","filename":"files","filenameType":"msg","x":1570,"y":860,"wires":[[]]},{"id":"36d2b97f.e983f6","type":"fs-ops-dir","z":"8634e68f.33d288","name":"","path":"path","pathType":"msg","filter":".pdf","filterType":"str","dir":"files","dirType":"msg","x":1420,"y":860,"wires":[["2289e076.51adc"]]},{"id":"4a6b512a.d4dcc","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"/home/pi/ftp/print","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":860,"wires":[["36d2b97f.e983f6"]]},{"id":"be536181.62e53","type":"telegram sender","z":"8634e68f.33d288","name":"","bot":"31b2379a.04d2d8","x":990,"y":540,"wires":[[]]},{"id":"c469992e.96f8a8","type":"debug","z":"8634e68f.33d288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1390,"y":340,"wires":[]},{"id":"ffef11dc.9303b","type":"subflow:e892f35.0c4c61","z":"8634e68f.33d288","name":"Drucken?","env":[{"name":"Optionen","value":"Drucken,Abbrechen","type":"str"},{"name":"Nachricht","value":"Möchtest du die Datei Drucken die du mir gesendet hast?","type":"str"},{"name":"OptionDynamic","value":"false","type":"bool"},{"name":"SingleOrArraySpam","value":"false","type":"bool"},{"name":"NachrichtDynamic","value":"true","type":"bool"},{"name":"OptionToggle","value":"false","type":"bool"}],"x":760,"y":540,"wires":[["be536181.62e53"]]},{"id":"e20e02b4.e8fde","type":"telegram command","z":"8634e68f.33d288","name":"","command":"/print","bot":"31b2379a.04d2d8","strict":false,"x":130,"y":540,"wires":[["ccc23788.73e768"],[]]},{"id":"aead1cb5.41dc9","type":"function","z":"8634e68f.33d288","name":"flow.set(\"path\", msg.payload.path);","func":"if(msg.payload.path){\n    flow.set(\"path\", msg.payload.path);\n}\nif(msg.payload.caption){\n    flow.set(\"caption\", msg.payload.caption);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":420,"wires":[[]]},{"id":"b75c7d80.1be56","type":"function","z":"8634e68f.33d288","name":"flow.get(\"path\")","func":"msg.payload = flow.get(\"path\");\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":920,"wires":[["3d124e45.034e12","7a4d4c43.341c04"]]},{"id":"aea225b2.4ed3a8","type":"comment","z":"8634e68f.33d288","name":"Print","info":"","x":850,"y":860,"wires":[]},{"id":"ccc23788.73e768","type":"subflow:fcbed297.e969b","z":"8634e68f.33d288","name":"","env":[],"x":330,"y":540,"wires":[["9d453c8.11c52c"]]},{"id":"e6e2acb2.ee47c","type":"debug","z":"8634e68f.33d288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":460,"wires":[]},{"id":"9d453c8.11c52c","type":"function","z":"8634e68f.33d288","name":"DruckZeigtDatei","func":"msg.Nachricht = \"Möchtes du\\n\\r\"+flow.get(\"caption\")+\"\\n\\rwirklich Drucken?\";\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":540,"wires":[["ffef11dc.9303b"]]},{"id":"c207f62a.1382b8","type":"function","z":"e892f35.0c4c61","name":"inline keyboard message","func":"// node.error(\"Oh no, something bad happened\");\n\ncontext.global.keyboard = { pending : true};\n\n\nlet optionen = msg.optionen;\nlet count;\nlet tasten = \"\";\n    \nif(Array.isArray(optionen)){\n    count = optionen.length;\n    \n    let i;\n    for (i = 0; i < count ; i++) {\n        tasten = tasten + '{\"text\":\"' + optionen[i] + '\",\"callback_data\":\"' + optionen[i] + '\"},';\n    }\n    \n}else{\n    tasten = tasten + '{\"text\":\"' + optionen + '\",\"callback_data\":\"' + optionen + '\"},';\n}\n\n\n// Alles hier unten funktioniert Perfekt\n\ntasten = tasten.slice(0, -1);\n\n\nlet key = '{\"inline_keyboard\": [['+tasten+']]}';\n\nvar opts = {\n    chat_id : msg.payload.chatId,\n    reply_markup: key\n};\n\n\nif(env.get(\"NachrichtDynamic\")){\n    msg.payload.content = msg.Nachricht;\n}else{\n    msg.payload.content = env.get(\"Nachricht\");\n}\n\nmsg.payload.options = opts;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":380,"wires":[[]]},{"id":"d29c8cfd.2ae93","type":"subflow:fcbed297.e969b","z":"8634e68f.33d288","name":"","env":[],"x":350,"y":1040,"wires":[["74ab9a52.ee6934"]]},{"id":"eeef3118.a0731","type":"fs-ops-move","z":"8634e68f.33d288","name":"","sourcePath":"path","sourcePathType":"msg","sourceFilename":"files","sourceFilenameType":"msg","destPath":"path","destPathType":"msg","destFilename":"newname","destFilenameType":"msg","link":false,"x":2120,"y":1160,"wires":[[]]},{"id":"48f08c23.756cd4","type":"fs-ops-dir","z":"8634e68f.33d288","name":"","path":"path","pathType":"msg","filter":"BeeseDruck","filterType":"str","dir":"files","dirType":"msg","x":1180,"y":1160,"wires":[["b3c31776.b24b38"]]},{"id":"63a363d6.73254c","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"/home/pi/ftp/telealex","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1010,"y":1160,"wires":[["48f08c23.756cd4"]]},{"id":"38e4a861.c7fc98","type":"fs-ops-stats","z":"8634e68f.33d288","name":"","path":"path","pathType":"msg","filename":"files","filenameType":"msg","stats":"stats","sizeType":"msg","x":1520,"y":1160,"wires":[["e278362c.0cf808"]]},{"id":"e278362c.0cf808","type":"moment","z":"8634e68f.33d288","name":"","topic":"","input":"stats.mtimeMs","inputType":"msg","inTz":"Europe/Berlin","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYMMDD_HHmmss","locale":"en_US","output":"time","outputType":"msg","outTz":"Europe/Berlin","x":1720,"y":1160,"wires":[["389397e8.bc4fa8"]]},{"id":"389397e8.bc4fa8","type":"function","z":"8634e68f.33d288","name":"NewName","func":"msg.newname = msg.tag +\"_\"+ msg.time+msg.files.slice(-4);\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":1160,"wires":[["eeef3118.a0731"]]},{"id":"b3c31776.b24b38","type":"function","z":"8634e68f.33d288","name":"separate message","func":"let count;\nlet optionen = msg.files;\n\n\n    if(Array.isArray(optionen)){\n            count = optionen.length;}else{\n                count = 1;\n            }\n    \n        let i;\n        for (i = 0; i < count; i++) {\n            msg.files = optionen[i];\n            msg.payload = optionen[i];\n            node.send(msg);\n        }\n\n\n\nreturn ","outputs":1,"noerr":0,"x":1350,"y":1160,"wires":[["38e4a861.c7fc98"]]},{"id":"f08642fa.58f2","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"tag","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1160,"wires":[["63a363d6.73254c"]]},{"id":"d1dc16c2.d71848","type":"telegram command","z":"8634e68f.33d288","name":"","command":"/tag","bot":"31b2379a.04d2d8","strict":false,"x":130,"y":1060,"wires":[["d29c8cfd.2ae93"],["ba114fb.6254eb"]]},{"id":"1260f3fa.f0c95c","type":"telegram sender","z":"8634e68f.33d288","name":"","bot":"31b2379a.04d2d8","x":1190,"y":1040,"wires":[[]]},{"id":"4ffacd19.3c9924","type":"telegram sender","z":"8634e68f.33d288","name":"","bot":"31b2379a.04d2d8","x":1190,"y":1100,"wires":[[]]},{"id":"74ab9a52.ee6934","type":"subflow:e42fce10.df527","z":"8634e68f.33d288","name":"","env":[{"name":"Nachricht","value":"Welche scann Tag willst du vergeben?","type":"str"},{"name":"Optionen","value":"KrankenKasse,Steuer,Bank,Burg,Post,Quittung,Rechnung,Versicherung,Stundenzettel","type":"str"}],"x":550,"y":1040,"wires":[["1260f3fa.f0c95c"]]},{"id":"d6e3e6cc.275dc8","type":"subflow:25552ba1.aec3a4","z":"8634e68f.33d288","name":"","env":[],"x":600,"y":1100,"wires":[["4ffacd19.3c9924","f08642fa.58f2","b2d555f8.10eaf8"]]},{"id":"ba114fb.6254eb","type":"subflow:fcbed297.e969b","z":"8634e68f.33d288","name":"","env":[],"x":350,"y":1100,"wires":[["d6e3e6cc.275dc8"]]},{"id":"b2d555f8.10eaf8","type":"debug","z":"8634e68f.33d288","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":1080,"wires":[]},{"id":"20995f0d.d78f5","type":"fs-ops-move","z":"8634e68f.33d288","name":"","sourcePath":"path","sourcePathType":"msg","sourceFilename":"files","sourceFilenameType":"msg","destPath":"pathcopyfolder","destPathType":"msg","destFilename":"files","destFilenameType":"msg","link":false,"x":1340,"y":1400,"wires":[[]]},{"id":"28a230a6.d326e","type":"telegram command","z":"8634e68f.33d288","name":"","command":"/alex","bot":"31b2379a.04d2d8","strict":false,"x":150,"y":1380,"wires":[["50e12ae7.9d0bf4"],[]]},{"id":"50e12ae7.9d0bf4","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"pathcopy","pt":"msg","to":"/home/pi/ftp/alextoalex/01_Alex","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1380,"wires":[["64da5c5d.075b94"]]},{"id":"dd2dd05d.8b3f6","type":"fs-ops-dir","z":"8634e68f.33d288","name":"","path":"path","pathType":"msg","filter":".pdf","filterType":"str","dir":"files","dirType":"msg","x":720,"y":1400,"wires":[["eb2b5ccd.e495e"]]},{"id":"eb2b5ccd.e495e","type":"function","z":"8634e68f.33d288","name":"separate message","func":"let count;\nlet optionen = msg.files;\n\n\n    if(Array.isArray(optionen)){\n            count = optionen.length;}else{\n                count = 1;\n            }\n    \n        let i;\n        for (i = 0; i < count; i++) {\n            msg.files = optionen[i];\n            node.send(msg);\n        }\n\n\n\nreturn ","outputs":1,"noerr":0,"x":910,"y":1400,"wires":[["4549d170.10358"]]},{"id":"f0d3db47.a86028","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"pathcopy","pt":"msg","to":"/home/pi/ftp/alextoalex/02_Alexa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":350,"y":1440,"wires":[["64da5c5d.075b94"]]},{"id":"b7ee1543.611408","type":"telegram command","z":"8634e68f.33d288","name":"","command":"/alexa","bot":"31b2379a.04d2d8","strict":false,"x":150,"y":1440,"wires":[["f0d3db47.a86028"],[]]},{"id":"64da5c5d.075b94","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"/home/pi/ftp/telealex","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":1420,"wires":[["dd2dd05d.8b3f6","c4267954.2afbc8"]]},{"id":"4549d170.10358","type":"function","z":"8634e68f.33d288","name":"msg.pathcopyfolder","func":"let f = msg.files;\nlet folder = f.split(\"_\")\nmsg.pathcopyfolder = msg.pathcopy+\"/\"+folder[0];\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1400,"wires":[["20995f0d.d78f5"]]},{"id":"830a6aae.488558","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"pathcopy","pt":"msg","to":"/home/pi/ftp/alextoalex/01_Alex","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1560,"wires":[["83c7ca54.2f77e8"]]},{"id":"c69c5343.74979","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"pathcopy","pt":"msg","to":"/home/pi/ftp/alextoalex/02_Alexa","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":1620,"wires":[["83c7ca54.2f77e8"]]},{"id":"814f1b5e.561908","type":"function","z":"8634e68f.33d288","name":"OrdnerGenerieren","func":"let f = msg.folder;\nlet folder = f.split(\",\")\nmsg.pathcopyfolder = folder;\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1580,"wires":[["faaf157.49bf8e8"]]},{"id":"83c7ca54.2f77e8","type":"change","z":"8634e68f.33d288","name":"","rules":[{"t":"set","p":"folder","pt":"msg","to":"KrankenKasse,Steuer,Bank,Burg,Post,Quittung,Rechnung,Versicherung,Stundenzettel","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1580,"wires":[["814f1b5e.561908"]]},{"id":"3a989a19.759cf6","type":"inject","z":"8634e68f.33d288","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1560,"wires":[["830a6aae.488558"]]},{"id":"940d5588.00c038","type":"inject","z":"8634e68f.33d288","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":1620,"wires":[["c69c5343.74979"]]},{"id":"b00961f.5c671a","type":"comment","z":"8634e68f.33d288","name":"OrdnerErstellen","info":"","x":200,"y":1520,"wires":[]},{"id":"faaf157.49bf8e8","type":"function","z":"8634e68f.33d288","name":"separate message","func":"let count;\nlet optionen = msg.pathcopyfolder;\n\n\n    if(Array.isArray(optionen)){\n            count = optionen.length;}else{\n                count = 1;\n            }\n    \n        let i;\n        for (i = 0; i < count; i++) {\n            msg.pathcopyfolder = optionen[i];\n            msg.payload = msg.pathcopy+\"/\"+msg.pathcopyfolder;\n            \n            node.send(msg);\n        }\n\n\n\nreturn ","outputs":1,"noerr":0,"x":1070,"y":1580,"wires":[["7f6e4727.ef15d8"]]},{"id":"7f6e4727.ef15d8","type":"fs-ops-mkdir","z":"8634e68f.33d288","name":"","path":"pathcopy","pathType":"msg","dirname":"pathcopyfolder","dirnameType":"msg","mode":"777","fullpath":"directory","fullpathType":"msg","x":1320,"y":1580,"wires":[[]]},{"id":"4d9ed993.e16d18","type":"fs-ops-move","z":"8634e68f.33d288","name":"","sourcePath":"path","sourcePathType":"msg","sourceFilename":"files","sourceFilenameType":"msg","destPath":"pathcopyfolder","destPathType":"msg","destFilename":"files","destFilenameType":"msg","link":false,"x":1340,"y":1440,"wires":[[]]},{"id":"c4267954.2afbc8","type":"fs-ops-dir","z":"8634e68f.33d288","name":"","path":"path","pathType":"msg","filter":".jpg","filterType":"str","dir":"files","dirType":"msg","x":720,"y":1440,"wires":[["d34ab4b6.115678"]]},{"id":"d34ab4b6.115678","type":"function","z":"8634e68f.33d288","name":"separate message","func":"let count;\nlet optionen = msg.files;\n\n\n    if(Array.isArray(optionen)){\n            count = optionen.length;}else{\n                count = 1;\n            }\n    \n        let i;\n        for (i = 0; i < count; i++) {\n            msg.files = optionen[i];\n            node.send(msg);\n        }\n\n\n\nreturn ","outputs":1,"noerr":0,"x":910,"y":1440,"wires":[["2420c867.73fb38"]]},{"id":"2420c867.73fb38","type":"function","z":"8634e68f.33d288","name":"msg.pathcopyfolder","func":"let f = msg.files;\nlet folder = f.split(\"_\")\nmsg.pathcopyfolder = msg.pathcopy+\"/\"+folder[0];\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":1440,"wires":[["4d9ed993.e16d18"]]}]